@import '../../styles/variables';

.home-title {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 15px;

    &-span {
        color: $background-primary-color;
    }
}

.home-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.find-destination {
    font-size: 32px;
    font-weight: 600;
    color: $background-primary-color;
    margin-bottom: 25px;
}